<table id="jqg"></table>
<div id="jpager"></div>
<br/>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <table id="stat"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<style>
    
     .ui-jqgrid .ui-pg-input {height: 20px;}
    .ui-jqgrid .ui-jqgrid-pager {height:40px;}
    .ui-jqgrid .ui-jqgrid-pager .ui-pg-div {font-size:14px;}
</style>

<script type="text/javascript">

    $(function() {
        $("#jqg").jqGrid({
            url: '@Url.Action("Get")',
            datatype: "json",
            colNames: ['Id', 'Name', 'Price'],
            colModel: [
                { name: 'Id', index: 'Id', width: 30, stype: 'text', key: true },
                { name: 'Name', index: 'Name', width: 150, editable: true, edittype: 'text', sortable: true },
                { name: 'Price', index: 'Price', width: 80, editable: true, edittype: 'text', align: "right", sortable: true }
            ],
            rowNum: 10,
            rowList: [10, 25, 50, 100],
            pager: '#jpager',
            sortName: 'Name',
            viewrecords: true,
            sortOrder: "desc",
            loadonce: true,
            caption: "List of prosucts",
            width: 800

        });


        $("#jqg").jqGrid('navGrid', '#jpager', {
                refresh: false,
                add: true,
                del: true,
                edit: true,
               // view: true,
                viewtext: "Смотреть",
                //viewtitle: "Выбранная запись",
                addtext: "Добавить",
                edittext: "Изменить",
                deltext: "Удалить"
            },
            update("edit"),
            update("add"),
            update("del")
        );

    function update(act) {
        return {
            closeAfterAdd: true,
            height: 250,
            width: 400,
            closeAfterEdit: true,
            reloadAfterSubmit: true,
            drag: true,
            onclickSubmit: function (params) {
                var list = $("#jqg");
                var selectedRow = list.getGridParam("selrow");
                rowData = list.getRowData(selectedRow);
                switch (act) {
                case "add":
                    params.url = '@Url.Action("Create")';
                case "del":
                    params.url = '@Url.Action("Delete")';
                case "edit":
                    params.url = '@Url.Action("Edit")';

                default:
                }

            },
            afterSubmit: function (response, postdata) {

                $(this).jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid')
                return [true, "", 0]
            }
        };
    };

        jQuery("#jqg")
            .navGrid('#jpager', { edit: false, add: false, del: false, search: false })
            .navButtonAdd('#jpager', {
                caption: "Statistic of product",
                onClickButton: function () {

                    $('.modal').on('shown.bs.modal', function () {
                        $(this).css("z-index", parseInt($('.modal-backdrop').css('z-index')) + 1);
                    });

                    var id = parseInt($('.ui-state-highlight').attr('id'));
                    debugger;
                    $.ajax({
                        type: 'POST',
                        contentType: "application/json charset=utf-8",
                        url: "GetStatisticProduct",
                        data: JSON.stringify(id)
                    }).success(function(response) {
                        
                        $('#myModal').modal('show');
                    });
                    $('#myModal').modal('show');
                },
                position: "last"
            });
        
        $("#stat").jqGrid({
            url: '@Url.Action("GetStatisticProduct" )',
            datatype: "json",
            colNames: ['Product', 'Price', 'TotalQuantity', 'TotalCost'],
            colModel: [
                { name: 'Product', index: 'Product', width: 100, editable: true, edittype: 'text', sortable: true },
                { name: 'Price', index: 'Price', width: 50, editable: true, edittype: 'text', align: "right", sortable: true },
                { name: 'TotalQuantity', index: 'TotalQuantity', width: 50, editable: true, edittype: 'text', sortable: true },
                { name: 'TotalCost', index: 'TotalCost', width: 50, editable: true, edittype: 'text', align: "right", sortable: true }
            ],
            sortName: 'Name',
            viewrecords: true,
            sortOrder: "desc",
            loadonce: true,
            caption: "statictic information of product",
            width: 400
        });
    });

</script>



